[Unit]
Description=rpi_backlight
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/backlight/backlight.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
